<?xml version="1.0"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=apstaff;Server=ORA10;Home=OraClient11g_home1&quot;" providerName="System.Data.EntityClient"/>
    <add name="Tabel.Properties.Settings.ConnectionString" connectionString="User Id=apstaff;Password=staff;Server=ORA10;Home=OraClient11g_home1" providerName="Devart.Data.Oracle"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
